/* =======================
   TITULO
======================= */
h1 {
  color: rgb(14, 13, 13);
  text-align: center;
}

/* =======================
   CELDAS ELEMENTOS
======================= */
.elemento-celda {
  width: 70px;
  height: 70px;
  padding: 4px;

  border: 1px solid #444;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;

  user-select: none;
  cursor: pointer;

  transition: transform .2s ease, box-shadow .2s ease;
}

.elemento-celda:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.elemento-celda:active {
  transform: scale(0.96);
}

/* =======================
   PARTES DEL ELEMENTO
======================= */
.numero {
  width: 100%;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
}

.simbolo {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

.nombre {
  width: 100%;
  font-size: 10px;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* =======================
   COLORES ELEMENTOS
======================= */
.metal-alcalino {
  background: #755239;
}

.metal-alcalinotérreo {
  background: #b39f53;
}

.metal-transicion {
  background: #5a695f;
}

.metal-post-transicion {
  background: #94a3b8;
}

.metaloide {
  background: #10b981;
}

.no-metal {
  background: #c28e53;
}

.halogeno {
  background: #b46565;
}

.gas-noble {
  background: #3369fd;
}

.lantanido {
  background: #8677aa;
}

.actinido {
  background: #a855f7;
}

/* =======================
   LEYENDA
======================= */
.leyenda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  margin-top: 20px;

  font-family: Arial, sans-serif;
  font-size: 14px;
}

.leyenda div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.color {
  width: 18px;
  height: 18px;

  border: 1px solid #333;
  border-radius: 4px;
}

/* =======================
   PANEL DETALLE (DERECHA)
======================= */
.detalle {
  position: fixed;
  top: 0;
  right: 0;

  width: 320px;
  max-height: 100vh;

  padding: 20px;

  background: rgba(20, 20, 20, 0.568);

  border: none;
  border-radius: 0;

  box-shadow: none;

  overflow-y: auto;
}

.detalle h2 {
  text-align: center;
  font-size: 1.8rem;

  margin-bottom: 15px;
  padding-bottom: 10px;

  border-bottom: 2px solid rgba(255,255,255,.2);

  color: #fff;
}

.detalle p {
  margin: 10px 0;
  padding: 10px;
  color: white;
  background: rgba(255,255,255,.06);
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 8px;

  font-size: 0.95rem;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  transition: .2s;
}

.detalle p:hover {
  background: rgba(255,255,255,.12);
  transform: translateX(3px);
}

.detalle strong {
  color: #ffe082;
}


/* =======================
   ANIMACIÓN
======================= */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* =======================
   BODY
======================= */
body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  gap: 24px;
  align-items: flex-start;

  background-image: url("https://wallpapercave.com/wp/wp12103561.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
}

/* oscurecer fondo */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}